joblib
Flask
pydantic
pandas
pytest
tiktoken
pyhumps
requests
flask_socketio
eventlet
fuzzywuzzy
python-Levenshtein
tensorflow
openai==0.28
pdfminer
pdfminer.six
reportlab
pinecone
streamlit
st